<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [5]:
%%sql

# CREATE VIEW daily_revenue AS
# SELECT
#   orderdate,
#   SUM(quantity * netprice * exchangerate) AS total_revenue
# FROM sales
# GROUP BY orderdate
# ORDER BY orderdate DESC


SELECT *
FROM daily_revenue

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3294 rows affected.

       orderdate  total_revenue
0     2024-04-20       96879.43
1     2024-04-19       48386.88
2     2024-04-18       28408.76
3     2024-04-17       32938.67
4     2024-04-16       25098.99
...          ...            ...
3289  2015-01-06       10349.87
3290  2015-01-05       12406.27
3291  2015-01-03       19796.67
3292  2015-01-02        5890.40
3293  2015-01-01       11640.80

[3294 rows x 2 columns]

In [24]:
%%sql

# CREATE VIEW cohort_analysis AS
# WITH customer_revenue AS (
#   SELECT
#     s.customerkey,
#     s.orderdate,
#     SUM(s.quantity * s.netprice * s.exchangerate) AS total_net_revenue,
#     COUNT(s.orderkey),
#     c.countryfull,
#     c.age,
#     c.givenname,
#     c.surname
#   FROM sales s
#   LEFT JOIN customer c ON c.customerkey = s.customerkey
#   GROUP BY
#     s.customerkey,
#     s.orderdate,
#     c.countryfull,
#     c.age,
#     c.givenname,
#     c.surname
# )
# SELECT
#   cr.*,
#   MIN(cr.orderdate) OVER (PARTITION BY cr.customerkey) AS first_purchase_date,
#   EXTRACT(YEAR FROM MIN(cr.orderdate) OVER (PARTITION BY cr.customerkey)) AS cohort_year
# FROM customer_revenue cr

# SELECT
#   cohort_year,
#   SUM(total_net_revenue)
# FROM
#   cohort_analysis
# GROUP BY
#   cohort_year

# ALTER VIEW cohort_analysis RENAME COLUMM count TO num_orders5

SELECT
  cohort_year,
  COUNT(DISTINCT customerkey) AS total_customers,
  SUM(total_net_revenue) AS total_revenue,
  SUM(total_net_revenue) / COUNT(DISTINCT customerkey) AS customer_revenue
FROM cohort_analysis
GROUP BY
  cohort_year

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

  cohort_year  total_customers  total_revenue  customer_revenue
0        2015             2825    14892230.47           5271.59
1        2016             3397    18360521.74           5404.92
2        2017             4068    21979733.96           5403.08
3        2018             7446    36460385.42           4896.64
4        2019             7755    36696243.88           4731.95
5        2020             3031    11921900.97           3933.32
6        2021             4663    18387736.18           3943.33
7        2022             9010    29872808.30           3315.52
8        2023             5890    14979328.33           2543.18
9        2024             1402     2856649.33           2037.55