<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [1]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [5]:
%%sql

# CREATE VIEW daily_revenue AS
# SELECT
#   orderdate,
#   SUM(quantity * netprice * exchangerate) AS total_revenue
# FROM sales
# GROUP BY orderdate
# ORDER BY orderdate DESC


SELECT *
FROM daily_revenue

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

3294 rows affected.

       orderdate  total_revenue
0     2024-04-20       96879.43
1     2024-04-19       48386.88
2     2024-04-18       28408.76
3     2024-04-17       32938.67
4     2024-04-16       25098.99
...          ...            ...
3289  2015-01-06       10349.87
3290  2015-01-05       12406.27
3291  2015-01-03       19796.67
3292  2015-01-02        5890.40
3293  2015-01-01       11640.80

[3294 rows x 2 columns]

In [24]:
%%sql

# CREATE VIEW cohort_analysis AS
# WITH customer_revenue AS (
#   SELECT
#     s.customerkey,
#     s.orderdate,
#     SUM(s.quantity * s.netprice * s.exchangerate) AS total_net_revenue,
#     COUNT(s.orderkey),
#     c.countryfull,
#     c.age,
#     c.givenname,
#     c.surname
#   FROM sales s
#   LEFT JOIN customer c ON c.customerkey = s.customerkey
#   GROUP BY
#     s.customerkey,
#     s.orderdate,
#     c.countryfull,
#     c.age,
#     c.givenname,
#     c.surname
# )
# SELECT
#   cr.*,
#   MIN(cr.orderdate) OVER (PARTITION BY cr.customerkey) AS first_purchase_date,
#   EXTRACT(YEAR FROM MIN(cr.orderdate) OVER (PARTITION BY cr.customerkey)) AS cohort_year
# FROM customer_revenue cr

# SELECT
#   cohort_year,
#   SUM(total_net_revenue)
# FROM
#   cohort_analysis
# GROUP BY
#   cohort_year

# ALTER VIEW cohort_analysis RENAME COLUMM count TO num_orders5

SELECT
  cohort_year,
  COUNT(DISTINCT customerkey) AS total_customers,
  SUM(total_net_revenue) AS total_revenue,
  SUM(total_net_revenue) / COUNT(DISTINCT customerkey) AS customer_revenue
FROM cohort_analysis
GROUP BY
  cohort_year

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

  cohort_year  total_customers  total_revenue  customer_revenue
0        2015             2825    14892230.47           5271.59
1        2016             3397    18360521.74           5404.92
2        2017             4068    21979733.96           5403.08
3        2018             7446    36460385.42           4896.64
4        2019             7755    36696243.88           4731.95
5        2020             3031    11921900.97           3933.32
6        2021             4663    18387736.18           3943.33
7        2022             9010    29872808.30           3315.52
8        2023             5890    14979328.33           2543.18
9        2024             1402     2856649.33           2037.55

In [38]:
%%sql

WITH sales_data AS (
  SELECT
    customerkey,
    SUM(quantity * netprice * exchangerate) AS net_revenue
  FROM sales
  GROUP BY
    customerkey
)
SELECT
  AVG(s.net_revenue) AS spending_cusomers_avg_revenue,
  AVG(COALESCE(s.net_revenue, 0)) AS all_customers_avg_net_revenue
FROM customer c
LEFT JOIN sales_data s ON c.customerkey = s.customerkey

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

1 rows affected.

   spending_cusomers_avg_revenue  all_customers_avg_net_revenue
0                        4170.94                        1965.97

In [52]:
%%sql

# CREATE VIEW cohort_analysis AS
WITH customer_revenue AS (
  SELECT
    s.customerkey,
    s.orderdate,
    SUM(s.quantity::double precision * s.netprice * s.exchangerate) AS total_net_revenue,
    COUNT(s.orderkey) AS num_orders,
    c.countryfull,
    c.age,
    c.givenname,
    c.surname
  FROM sales s
  LEFT JOIN customer c ON c.customerkey = s.customerkey
  GROUP BY
    s.customerkey,
    s.orderdate,
    c.countryfull,
    c.age,
    c.givenname,
    c.surname
)
SELECT
  customerkey,
  orderdate,
  total_net_revenue,
  num_orders,
  countryfull,
  age,
  CONCAT(TRIM(givenname), ' ', TRIM(surname)) AS cleaned_name,
    MIN(cr.orderdate) OVER (PARTITION BY cr.customerkey) AS first_purchase_date,
  EXTRACT(YEAR FROM MIN(cr.orderdate) OVER (PARTITION BY cr.customerkey)) AS cohort_year
FROM customer_revenue cr;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

83099 rows affected.

,customerkey,orderdate,total_net_revenue,num_orders,countryfull,age,cleaned_name,first_purchase_date,cohort_year
0,15,2021-03-08,2217.41,1,Australia,55,Julian McGuigan,2021-03-08,2021
1,180,2018-07-28,525.31,1,Australia,65,Gabriel Bosanquet,2018-07-28,2018
2,180,2023-08-28,1984.90,2,Australia,65,Gabriel Bosanquet,2018-07-28,2018
3,185,2019-06-01,1395.52,1,Australia,40,Gabrielle Castella,2019-06-01,2019
4,243,2016-05-19,287.67,1,Australia,66,Maya Atherton,2016-05-19,2016
...,...,...,...,...,...,...,...,...,...
83094,2099697,2022-09-13,38.20,3,United States,54,Phillipp Maier,2022-09-13,2022
83095,2099711,2016-08-13,2067.75,1,United States,80,Katerina PavlÃ­ckovÃ¡,2016-08-13,2016
83096,2099711,2017-08-14,3940.92,1,United States,80,Katerina PavlÃ­ckovÃ¡,2016-08-13,2016
83097,2099743,2022-03-17,469.62,2,United States,21,Luciana Almonte,2022-03-17,2022
83098,2099743,2023-02-11,598.46,1,United States,21,Luciana Almonte,2022-03-17,2022

In [66]:
%%sql

WITH customer_ltv AS (
  SELECT
    customerkey,
    cleaned_name,
    SUM(total_net_revenue) AS total_ltv
  FROM cohort_analysis
  GROUP BY
    customerkey,
    cleaned_name
), customer_segments AS (
SELECT
  PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY total_ltv) AS ltv_25th_percentile,
  PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY total_ltv) AS ltv_75th_percentile
FROM customer_ltv
)
SELECT
  c.*,
  CASE
    WHEN c.total_ltv < cs.ltv_25th_percentile THEN '1 - Low-Value'
    WHEN c.total_ltv <= cs.ltv_75th_percentile THEN '2 - Mid-Value'
    ELSE '3 - High-Value'
  END AS customer_segment
FROM customer_ltv c
CROSS JOIN customer_segments cs;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

RuntimeError: (The named parameters feature is "disabled". Enable it with: %config SqlMagic.named_parameters="enabled".
For more info, see the docs: https://jupysql.ploomber.io/en/latest/api/configuration.html#named-parameters)
(psycopg2.errors.UndefinedColumn) column "cleaned_name" does not exist
LINE 4:     cleaned_name,
            ^

[SQL: WITH customer_ltv AS (
  SELECT
    customerkey,
    cleaned_name,
    SUM(total_net_revenue) AS total_ltv
  FROM cohort_analysis
  GROUP BY
    customerkey,
    cleaned_name
), customer_segments AS (
SELECT
  PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY total_ltv) AS ltv_25th_percentile,
  PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY total_ltv) AS ltv_75th_percentile
FROM customer_ltv
)
SELECT
  c.*,
  CASE
    WHEN c.total_ltv < cs.ltv_25th_percentile THEN '1 - Low-Value'
    WHEN c.total_ltv <= cs.ltv_75th_percentile THEN '2 - Mid-Value'
    ELSE '3 - High-Value'
  END AS customer_segment
FROM customer_ltv c
CROSS JOIN customer_segments cs;]
(Background on this error at: https://sqlalche.me/e/20/f405)